<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/report.css">
    <title>Report: {{ report.subject }}</title>
</head>
<body>

<div class="container">


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
    <a href="/" class="back-btn">
        ← Back
    </a>

    <div class="report-card">

        <h1>
            {{ report.subject }}
        </h1>

        <div class="header">

            <span class="priority {{ report.priority|lower }}">
                {{ report.priority }}
            </span>

            <form action="/report/{{ report.id }}/rescue" method="POST">

                <button type="submit" class="rescue-btn">
                    🚨 Rescue
                </button>

            </form>

        </div>

        <section>

            <h2>Description</h2>

            <p>
                {{ report.description }}
            </p>

        </section>

    </div>

</div>

<script src="../static/scripts/report.js"></script>

</body>
</html>