:root{

--base:#1e1e2e;
--surface:#313244;
--text:#cdd6f4;

--red:#f38ba8;
--yellow:#f9e2af;
--green:#a6e3a1;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;

}

body{

background:var(--base);
color:var(--text);

}

.container{

padding:25px;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:20px;
gap:15px;
flex-wrap:wrap;

}

header input{

padding:12px;
width:260px;

border:none;
border-radius:10px;

background:var(--surface);
color:white;

}

#map{

height:65vh;

border-radius:18px;

overflow:hidden;

margin-bottom:20px;

}

.stats{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:15px;

}

.card{

background:var(--surface);

padding:20px;

border-radius:15px;

text-align:center;

}

.high{

border-left:6px solid var(--red);

}

.medium{

border-left:6px solid var(--yellow);

}

.low{

border-left:6px solid var(--green);

}

